<div class="alert alert-info" role="alert">
  <strong>About the schedule:</strong> this is a Carpentries Mix &amp; Match workshop. We will teach selected sections and exercises from the named R and Python episodes rather than every part of each full lesson. Timings are therefore indicative and may vary slightly depending on learner questions and exercises.
</div>

<div class="row">
  <div class="col-md-6">
    <h3>14 October: Getting Started with Reproducible Analysis in R</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>09:30</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro.html">Introduction to R and RStudio</a></td>
      </tr>
      <tr>
        <td>10:15</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/02-project-intro.html">Project Management With RStudio</a></td>
      </tr>
      <tr>
        <td>10:40</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help.html">Seeking Help</a></td>
      </tr>
      <tr>
        <td>10:55</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:10</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1.html">Data Structures</a></td>
      </tr>
      <tr>
        <td>11:55</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2.html">Exploring Data Frames</a></td>
      </tr>
      <tr>
        <td>12:25</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting.html">Subsetting Data</a></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Finish</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>21 October: Data Wrangling, Visualisation, and Reporting in R</h3>
    <table class="table table-striped">
      <tr>
        <td>09:30</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2.html">Creating Publication-Quality Graphics with ggplot2</a></td>
      </tr>
      <tr>
        <td>10:35</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:50</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/13-dplyr.html">Data Frame Manipulation with dplyr</a></td>
      </tr>
      <tr>
        <td>11:40</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/14-tidyr.html">Data Frame Manipulation with tidyr</a></td>
      </tr>
      <tr>
        <td>12:20</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown.html">Producing Reports With knitr</a></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Finish</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>28 October: Getting Started with Python for Research</h3>
    <table class="table table-striped">
      <tr>
        <td>09:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit.html">Running and Quitting</a></td>
      </tr>
      <tr>
        <td>09:45</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Variables and Assignment</a></td>
      </tr>
      <tr>
        <td>10:05</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion.html">Data Types and Type Conversion</a></td>
      </tr>
      <tr>
        <td>10:25</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in.html">Built-in Functions and Help</a></td>
      </tr>
      <tr>
        <td>10:50</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:05</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/06-libraries.html">Libraries</a></td>
      </tr>
      <tr>
        <td>11:25</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular.html">Reading Tabular Data into DataFrames</a></td>
      </tr>
      <tr>
        <td>11:45</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html">Pandas DataFrames</a></td>
      </tr>
      <tr>
        <td>12:15</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/09-plotting.html">Plotting</a></td>
      </tr>
      <tr>
        <td>12:45</td>
        <td>Exercises and recap</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Finish</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>4 November: Programming and Data Analysis in Python</h3>
    <table class="table table-striped">
      <tr>
        <td>09:30</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/11-lists.html">Lists</a></td>
      </tr>
      <tr>
        <td>09:50</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/12-for-loops.html">For Loops</a></td>
      </tr>
      <tr>
        <td>10:15</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/13-conditionals.html">Conditionals</a></td>
      </tr>
      <tr>
        <td>10:40</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets.html">Looping Over Data Sets</a></td>
      </tr>
      <tr>
        <td>10:55</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:10</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/16-writing-functions.html">Writing Functions</a></td>
      </tr>
      <tr>
        <td>11:35</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/17-scope.html">Variable Scope</a></td>
      </tr>
      <tr>
        <td>11:55</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/18-style.html">Programming Style</a></td>
      </tr>
      <tr>
        <td>12:25</td>
        <td><a href="https://swcarpentry.github.io/python-novice-gapminder/19-wrap.html">Wrap-Up</a></td>
      </tr>
      <tr>
        <td>12:45</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td>Finish</td>
      </tr>
    </table>
  </div>
</div>
